<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Journey</span> Massage
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Journey Massage Therapy</h1>
                        <p class="intro-text">Heather L. Kwiatkowski LMT</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What Is Journey Massage?</h2>
                <%= image_tag "heather.jpeg", class: "img-responsive img-circle center-block" %>
                <p>Whether your body needs a light, relaxing touch or a deep tissue massage, each of our massages are customized to attend to your individual needs and give your body the personal care it needs to heal and refresh.</p>
                <p>This is your journey.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Available Services</h2>
                    <p>
Relax and increase circulation, eliminate toxins and reduce stress using gliding and kneading strokes to calm and soothe muscle tension.
<p>
60 min - $55 ||
90min - $80
</p>
<p>
Deep Tissue
Heat compresses and slow, deep penetrating movements enhance your body’s flexibility, releasing locked muscles. Target your areas of need and find relief.

60 min - $65 ||
90 min $90
</p>
<p>
Clinically proven to relieve feelings of stress, this service blends the power of Swedish and therapeutic massage, and our stress relieving aroma, which is infused with lavender.

60 min - $60 ||
90 min - $85
</p>
<p>
Hot Stone
Discover the sensation of warm stones placed on key points of the body, giving a deep massage and creating sensations of comfort and warmth. The penetrating heat from the hot stones relaxes the muscles and loosens tissue, which allows for deeper relaxation.

90 min minimum starting at $115 ||
120min $140
</p>
<p>
Signature Journey Massage
Have it all..the ultimate journey is customized for therapeutic body work, aromatherapy, and relaxation.
Heat compresses on targeted areas of tension and an aroma to compliment your individual goal. Break free from tension, fatigue, and stress.

90 min $115 ||
120min $140
</p>
<p>
Table Thai Stretch Session
This 30 min add-on session will renew muscle tone and flexibility with an ancient massage technique that applies deep pressure with the stretching of muscles, while replacing tension and stress with the feelings of energy and peace. During this stage of your massage the client will arrive for massage in loose & stretchable clothing.

30 min add-on for $35
</p>
</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Journey Massage</h2>
                <p><a href="mailto:email@example.com">email@example.com</a>
                </p>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p></p>
        </div>
    </footer>
</body>
