<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <span class="light">Journey</span> Massage
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
        <a href="#page-top"></a>
        </li>
        <li>
        <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
        <a class="page-scroll" href="#services">Services</a>
        </li>
        <li>
        <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
  </nav>

  <!-- Intro Header -->
  <header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Journey Massage Therapy</h1>
          <p class="intro-text">Heather L. Kwiatkowski <span class="license">LMT</span></p>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  </header>

  <!-- About Section -->
  <section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>What Is Journey Massage?</h2>
      <%= image_tag "heather.jpeg", class: "img-responsive img-circle center-block" %>
      <p>Whether your body needs a light, relaxing touch or a deep tissue massage, each of our massages are customized to attend to your individual needs and give your body the personal care it needs to heal and refresh.</p>
      <p>This is your journey.</p>
    </div>
  </div>
  </section>

  <!-- Service Section -->
  <section id="services" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2 services">
        <h2>Available Services</h2>

        <h4>Relaxation with Restoration</h4>
        <p>Relax and increase circulation, eliminate toxins and reduce stress using gliding and kneading strokes to calm and soothe muscle tension.</p>
        <span class="text-center">60 min - $55 || 90 min - $80</span>

        <h4>Deep Tissue</h4>
        <p>Heat compresses and slow, deep penetrating movements enhance your body’s flexibility, releasing locked muscles. Target your areas of need and find relief.</p>
        <span class="text-center">60 min - $65 || 90 min - $90</span>

        <h4>Stress Fix</h4>
        <p>Clinically proven to relieve feelings of stress, this technique blends the power of Swedish and therapeutic massage with our stress relieving aroma which is infused with lavender.</p>
        <span class="text-center">60 min - $60 || 90 min - $85</span>

        <h4>Hot Stone</h4>
        <p>Discover the sensation of warm stones placed on key points of the body, giving a deep massage and creating sensations of comfort and warmth. The penetrating heat from the hot stones relaxes the muscles and loosens tissue which allows for deeper relaxation.</p>
        <span class="text-center">90 min minimum starting at $115 || 120min $140</span>

        <h4>Signature Journey Massage</h4>
        <p>Have it all... the ultimate journey is customized for therapeutic body work, aromatherapy, and relaxation.
        Heat compresses on targeted areas of tension and an aroma to complement your individual goal. Break free from tension, fatigue, and stress.</p>
        <span class="text-center">90 min $115 || 120 min $140</span>

        <h4>Table Thai Stretch Session</h4>
        <p>This 30-minute session will renew muscle tone and flexibility with an ancient massage technique that applies deep pressure with the stretching of muscles while replacing tension and stress with the feelings of energy and peace. During this stage of your massage the client will arrive for massage in loose and non-constrictive clothing.</p>
        <span class="text-center">30 min add-on for $35</span>
      </div>
    </div>
  </div>
  </section>

  <!-- Scheduling Section -->
  <section id="schedule" class="container content-section text-center">
  <div class="row">
    <h1>Begin Your Journey</h1>
    <div class="schedule-btn">
      <a href="https://m.schedulicity.com/Scheduling/JMTUGR#/services" class="btn btn-default schedule-btn">Schedule Now</a>
    </div>
  </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="content-section text-center">
  <div class="contact-fade"></div>
  <div class="contact-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contact Journey Massage</h2>
        <div class="form-group contact">
          <form action="//formspree.io/heather.az2013@gmail.com" method="POST" >
            <div class="form-group"><input type="text" name="email" class="form-control" placeholder="Email Address"></div>
            <div class="form-group"><textarea type="text" name="content" class="form-control" rows="5" placeholder="Inquire about our services or schedule an appointment today!"></textarea></div>
            <div class="form-group text-left"><input type="submit" class="btn btn-default text-left" value="Send"></div>
          </form>
        </div>
        <h3 class="text-center "><span class="phone">Call: 920-980-8659</span></h3>
      </div>
    </div>
  </div>
  </section>
</body>
